* {
  margin: 0;
  padding: 0;
}
body,h1,h2,h3,h4,h5,h6,div,a {font-family: "Raleway", sans-serif}

h1 {
    text-align: center;
}

#header1 {
    width: 100%; /* Mantém a largura total */
    height: 90vh; /* Define a altura desejada*/
    object-fit: cover; /* Garante que a imagem se ajuste sem distorção */
    opacity: 0.9; /* Mantém a transparência já definida */
}
    

.navbar1 {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    padding: 20px 20px;
   justify-content: space-between;
   
    
  }
  

  .navbar1 a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    
  }

  .logo1 {
    font-size: 20px;
    font-weight: bold;
    color:black;
    padding-top: 8px;
    
  }


.imgcapa1 {
    position: relative;
    text-align: center;
    color: white;
  }

  .texto-sobre-imagem1 {
    position: absolute; /* Coloca o texto sobre a imagem */
    top: 50%; /* Alinha verticalmente */
    left: 50%; /* Alinha horizontalmente */
    transform: translate(-50%, -50%); 
    color: white; /* Cor do texto */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Adiciona sombra para melhor legibilidade */
}

.texto-sobre-imagem1 h1 {
    font-size: 5vw; /* Tamanho do título */
    margin: 0;
}

.texto-sobre-imagem1 h3 {
    font-size: 2vw; /* Tamanho do subtítulo */
    margin: 8px 0 0;
}

.curso-card1 {
    background-color: rgba(204, 204, 204, 0.441);
    padding: 16px;
    width: min-content;
    border-radius: 16px;
    
}
.conteiner1 {
  max-width: 1200px; /* Define uma largura máxima para o conteúdo */
  margin: 0 auto; /* Centraliza o conteúdo na página */
  padding: 20px; /* Adiciona um espaçamento interno */
  
}

.conteiner1 h1 {
  font-size: 2.5rem; /* Tamanho do título */
  margin-bottom: 20px; /* Espaçamento abaixo do título */
  color: #333; /* Cor do título */
  text-align: justify; /* Centraliza o título */
  font-weight: bold;
}

.conteiner1 p {
  font-size: 1.1rem; /* Tamanho do parágrafo */
  line-height: 1.8; /* Espaçamento entre linhas */
  color: #555; /* Cor do texto */
  margin-bottom: 20px; /* Espaçamento abaixo do parágrafo */
}
.conteiner1 h2{
  font-size: 2.5rem; /* Tamanho do título */
  margin-bottom: 20px; /* Espaçamento abaixo do título */
  color: #333; /* Cor do título */
  text-align: justify; /* Centraliza o título */
  font-weight: bold;
}

@media screen and (max-width: 768px) {
    #header1 {
      height: 50vh; /* Altura menor para telas pequenas */
    }
  
    .texto-sobre-imagem1 h1 {
      font-size: 8vw; /* Tamanho proporcional */
    }
  
    .texto-sobre-imagem1 h3 {
      font-size: 4vw;
    }
  
    .navbar1 {
      flex-direction: column; /* Menu em coluna */
      padding: 10px;
    }
  
  
    .paragrafo-1 {
      padding: 0 15px; /* Adiciona margens laterais */
    }
  }
  

  /*css da pagina cursos*/
     
    .card2 img{
      width: auto;
      height:200px ;
    }
  
    .logo2 {
      font-size: 20px;
      font-weight: bold;
      color: black;
      padding-top: 8px;
      
    }
    .conteiner2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      padding: 20px;
    }
    .conteiner2 img{
      width: 100%;
      height: 200px;
  
      border-radius: 10px;
    
    }
    .conteiner2 div {
      background: #ffffff;
      border: 1px solid #dedede;
      border-radius: 9px;
      padding: 10px;
      width: 400px;
    }
    .conteiner2 p {
      margin-top: 10px;
      font-size: 20px;
      color:black;
      font-weight: bold;
      text-align: center;
      margin: 5px;
    }

    /*css da pagina licenciaturaLCA*/
    
    .imgcapa3 {
      position: relative;
      text-align: center;
      color: white;
    }
  
    .logo3 {
      font-size: 20px;
      font-weight: bold;
      color: black;
      padding-top: 8px;
      
    }
    .texto-sobre-imagem3 {
      position: absolute; /* Coloca o texto sobre a imagem */
      top: 50%; /* Alinha verticalmente */
      left: 50%; /* Alinha horizontalmente */
      transform: translate(-50%, -50%); 
      color: white; /* Cor do texto */
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Adiciona sombra para melhor legibilidade */
  }
  
  
  .texto-sobre-imagem3 h3 {
    font-size: 2vw; /* Tamanho do subtítulo */
    margin: 8px 0 0;
  }
  .texto-sobre-imagem3 h1 {
    font-size: 5vw; /* Tamanho do título */
    margin: 0;
  }
  .conteiner3 {
    max-width: 1200px; /* Define uma largura máxima para o conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo na página */
    padding: 20px; /* Adiciona um espaçamento interno */
    
  }
  .conteiner3 p {
    font-size: 1.1rem; /* Tamanho do parágrafo */
    line-height: 1.8; /* Espaçamento entre linhas */
    color: #555; /* Cor do texto */
    margin-bottom: 20px; /* Espaçamento abaixo do parágrafo */
  }
  
  