body,h1,h2,h3,h4,h5,h6,div,a {font-family: "Raleway", sans-serif}

h1 {
    text-align: center;
}

#header {
    width: auto;
    padding-top: 20px;
    border-bottom-right-radius: 30px;
    filter: drop-shadow(6px 6px 8px gray);
}

div.header {
    display: grid;
    padding-top: 20px;
    grid-template-columns: 55% 35%;
    align-items: center;
    justify-content: space-between;
    grid-column-gap: 20px;
}

h3.header {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    align-self: center;
    justify-self: start;
}

.cursos {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 10px;
    padding: 50px;
    background-color: transparent;
    text-align: center;
    margin: 0 auto;
    width: 85%;
}
  
.cursos > div {
    background-color: rgba(211, 211, 211, 0.441);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    height: 200px;
    border-radius: 20px;
    width: 100%;
}