* {
  margin: 0;
  padding: 0;
}
body,h1,h2,h3,h4,h5,h6,div,a {font-family: "Raleway", sans-serif}

h1 {
    text-align: center;
}

  .navbar {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    padding: 20px 20px;
   justify-content: space-between;
   
    
  }
  

  .navbar a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    
  }

  .logo {
    font-size: 20px;
    font-weight: bold;
    color: blue;
    padding-top: 8px;
    
  }