* {
    margin: 0;
    padding: 0;
  }
  body,h1,h2,h3,h4,h5,h6,div,a {font-family: "Raleway", sans-serif}
  
  h1 {
      text-align: center;
  }
  #header {
    width: 100%; /* Mantém a largura total */
    height: 90vh; /* Define a altura desejada*/
    object-fit: cover; /* Garante que a imagem se ajuste sem distorção */
    opacity: 0.9; /* Mantém a transparência já definida */
}

.navbar {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    padding: 20px 20px;
   justify-content: space-between;
    
  }
  
  .navbar a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    
  }
  .imgcapa {
    position: relative;
    text-align: center;
    color: white;
  }

  .logo {
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding-top: 8px;
    
  }
  .texto-sobre-imagem {
    position: absolute; /* Coloca o texto sobre a imagem */
    top: 50%; /* Alinha verticalmente */
    left: 50%; /* Alinha horizontalmente */
    transform: translate(-50%, -50%); 
    color: white; /* Cor do texto */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Adiciona sombra para melhor legibilidade */
}


.texto-sobre-imagem h3 {
  font-size: 2vw; /* Tamanho do subtítulo */
  margin: 8px 0 0;
}
.texto-sobre-imagem h1 {
  font-size: 5vw; /* Tamanho do título */
  margin: 0;
}
.conteiner {
  max-width: 1200px; /* Define uma largura máxima para o conteúdo */
  margin: 0 auto; /* Centraliza o conteúdo na página */
  padding: 20px; /* Adiciona um espaçamento interno */
  
}
.conteiner p {
  font-size: 1.1rem; /* Tamanho do parágrafo */
  line-height: 1.8; /* Espaçamento entre linhas */
  color: #555; /* Cor do texto */
  margin-bottom: 20px; /* Espaçamento abaixo do parágrafo */
}




  